# Ignore the .env file
.env

# Ignore logs
logs/
*.log

# Ignore node_modules folder
node_modules/

# Ignore database files
*.sqlite
*.db

# Ignore system files
.DS_Store
Thumbs.db

# Ignore build artifacts
dist/
out/
